:root {
    --primary-color: #757575;
    --title-and-btn-color: #212121;
    --primary-bgd-color: #F5F5F5;
    --secondary-bgd-color: #F5F4FA;
    --footer-bgd-color: #2F303A;
    --accent-color: #2196F3;
    --hero-btn-accent-color: #188CE8;
    --primary-white-color: #ffffff;
    --footer-contacts-color: #ffffff60;
    --primary-black-color: #000000;
    --button-bgd-color: #F5F4FA;
}

body {
    color: var(--primary-color);
    background-color: var(--primary-bgd-color);

    font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.title {
    color: var(--title-and-btn-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}

/* головний колір тексту #757575 */
/* колір посилань заголовків #212121 */
/* білий #FFFFFF */
/* акцент #2196F3 */
/* контакти footer #FFFFFF 60 % */

/* --------------------Site Header!-------------------- */

/* -----Logo----- */

.page-header {
    background-color: var(--primary-white-color);
}

.logo-header {
    color: var(--primary-black-color);
}

.logo-part {
    color: var(--accent-color);
}

/* .logo-header:hover,
.logo-header:focus {
    color: var(--accent-color);
} */

/* -----Site nav----- */

.site-nav .link {
    color: var(--title-and-btn-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* .site-nav .link:active {
    color: green;
} */

/* .site-nav .link:visited {
    color: #000000;
} */

/* -----Contacts header----- */

.contacts-header .link {
    color: var(--primary-color);
}

.contacts-header .link:hover,
.contacts-header .link:focus {
    color: var(--accent-color);
}

/* --------------------Main Index Part!-------------------- */

/* -----Hero----- */

/* In the future there'll be img */

.hero {
    background-color: #2F303A;
}

.hero .hero-title {
    color: var(--primary-white-color);
}

/* -----Buttons!----- */

.button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

.button.primary {}

.button.secondary {
    color: var(--title-and-btn-color);
    background-color: var(--button-bgd-color);
}

.hero-button:hover,
.hero-button:focus {
    color: var(--hero-btn-accent-color);
}

.button.secondary:hover,
.button.secondary:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

/* -----Our features----- */



/* -----Our progects----- */



/* -----Our team----- */

.team {
    background-color: var(--secondary-bgd-color);
}

/* --------------------Main Portfolio Part!-------------------- */

.portfolio-list {
    background-color: var(--primary-white-color);
}


/* --------------------Site footer!-------------------- */


.page-footer {
    background-color: var(--footer-bgd-color);
}

.logo-footer {
    color: var(--primary-white-color);
}

/* .logo-footer:hover,
.logo-footer:focus {
    color: var(--accent-color);
} */

.contacts-footer {

    font-style: normal;
}

/* hover and focus for google-map didn't do speciality */

.footer-address {
    color: var(--primary-white-color);
}

.footer-mail.link {
    color: var(--footer-contacts-color);
}

.footer-mail:hover,
.footer-mail:focus {
    color: var(--accent-color);
}